@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Kanit", sans-serif !important;
}

.checkboxScrollbar {
  ::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FF731D; /* Set the color of the thumb */
    border-radius: 100px; /* Round the edges of the thumb */
  }

  ::-webkit-scrollbar-track {
    background: none; /* Set the color of the track */
  }

  /* Change the color of the thumb when scrolling down */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #FF731D;
  }
}
